<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">

      <a class="navbar-brand" href="http://zivot-u-njemackoj.com">Život u Njemačkoj</a>
    </div>

  </div>
  <!-- /.container -->
</nav>

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<!--<header class="intro-header" style="background-image: url('assets/images/home-bg.jpg')">-->
<header class="intro-header" [ngStyle]="{'background-image': 'url('+'assets/images/home-bg.jpg)'}">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1>Sva papirologija potrebna za brz početak života u Njemačkoj</h1>
          <br>
          <h2 class="subheading">Za bilo kakva pitanja slobodno ostavite upit u komentarima</h2>

        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h2 class="section-heading">Dolazak</h2>
        <p>Kao prvo Njemačka nije toliko teška za riješiti sve papire i ako ne znate dobro njemački jezik zbog toga što
          većina ljudi zna engleski jezik. Stvari na koje morate pripaziti ako dolazite!!!</p>
        <ol>
          <li>Ako nemate posla i u potrazi ste za poslom prijava boravišta odmah Vam može kasnije stvoriti problem zato
            što od dana prijave boravišta morate plaćati zdravstveno osiguranje, tako da imate pravo biti 3 mjeseca bez
            boravišta kod nekoga kao gost tražeći posao. Nakon 3 mjeseca bez obzira našli posao ili ne morate prijaviti
            boravište. Od toga dana Vam ide zdravstveno osiguranje. Primjer: Ako prijavite boravište u 6 mjesecu i
            pronađete posao u 9 mjesecu , od 6-9 mjeseca ćete morati platiti zdravstveno.
          </li>
        </ol>
        <h2 class="section-heading">Boravište</h2>
        <p>Prijava boravišta je dosta jednostvna, u svakom gradu imate urede koji se zovu B&uuml;rgeramt. Znači u google
          tražite recimo&nbsp;B&uuml;rgeramt Berlin i vidjeti ćete sve lokacije tih ureda, najbolje Vam je uvijek ići u
          ured koji je najbliži Vama. Za prijavu imate 2 opcije:</p>
        <ol>
          <li>Ako ste našli stan i Vi ga plaćate onda sa vašim&nbsp;najmodavacom stana ispunite papir (najmodavac treba
            imati taj papir)&nbsp; i odete u ovaj ured za prijavu sa Vašom putovnicom ili sa osobnom i to je vrlo brzo
            riješeno.
          </li>
          <li>Ako se Vi prijavljujete kod nekoga tko već živi u stanu odete prvo u B&uuml;rgeramt pitate papir za
            prijavu boravišta , ispunite papir ( vrlo jednostavan) i potpišete vi i Vaš cimer/vlasnik koji već plaća za
            stan i ponovno u ured i prijavite se. Ovo je stvarno brz proces nije patnja.
          </li>
        </ol>
        <p>Nakon prijavite nakon 2-3 tjedna dobivate steuer id nummer ili vaš osobni broj na Va&scaron;u adresu, taj
          broj Vam je potreban za posao , ako ne želite čekati na taj broj , 5 dana od prijave boravišta idete u
          "Finanzamt" Vašeg grada i tamo zatražite Vaš broj. Recimo žuri Vam se za posao, a trebate taj broj.</p>
        <p><strong>Promjena boravišta:</strong> Trebate obavijestiti sve privatne institucije o vašoj promjeni
          boravišta, banku, AOK, tv-pretplatu itd.</p>
        <h2 class="section-heading">Zdravstveno osiguranje</h2>
        <p>Ovdje opisujem proceduru za AOK ali ima i drugih zdravstvenih osiguranja.</p>
        <p>AOK ili neko drugo zdravstveno osiguranje je malo procedura, ali što bi rekli stari što se mora nije teško.
          Pokušat ću biti što brži i točniji.</p>
        <ol>
          <li>Ako recimo imate MiniJob a niste našli još pravi posao onda trebate imati 4 papira : <strong>Kopiju
            putovnice, </strong><strong>kopiju boravišta,obrazac</strong> <strong>E104</strong> (ovaj obrazac tražite u
            Hrvatskoj gdje ste zadnje radili , vašeg grada poslovnica zdravstvenog, recimo hzzo zagreb itd.), i <strong>potvrdu
              od poslodavca za MiniJob koju Vam poslovavac prvo mora izvaditi kod "knappschaft". </strong>Nakon toga
            idete u AOK i dobijete 8 papira , stvarno puno i svi su na njemačkom, samo pokupite papire i vratite se
            sutra i recite da ne znate sami popuniti i oni će Vam pomoći. Ali tada sami plaćate zdravstveno <strong>od
              170-180 eura</strong>. Znači ako imate MiniJob od recimo 440 eura morate plaćati zdravstveno 170-180 eura.
          </li>
          <li>Ako ste našli <strong>stalni posao</strong> onda je dosta jednostavnije, idete u AOK, sa njima ispunite
            par informacija i sve ostalo Vaš poslodavac rješava.
          </li>
        </ol>
        <h2 class="section-heading">Bankovni račun</h2>
        <p>što se tiče banke, tu nema previše papirologije slično kao i u Hrvatskoj, odaberete jednu banku i ponesete
          putovnicu i vaš<strong> ugovor o poslu</strong> i otvorite račun koji želite. Jedina je razlika da kod nekih
          banki trebate zakazati termin.</p>
        <h2 class="section-heading">Tv pretplata</h2>
        <p>što se tiče tv pretplate tu su 2 opcije isto.</p>
        <ol>
          <li>Kad ste prijaviti boravište u roku 2 tjedna dobijete papir za tv pretplatu, papir je isto jednostavan par
            informacija, i taj papir pošaljete na njihovu adresu sa kojega ste dobili pismo, nakon toga u roku 2 tjedna
            dobijete račun koji iznosi 17.5 eura po mjesecu, oni obračunavaju po 3 mjeseca.
          </li>
          <li>Ako ste vi cimer nekome tko već plaća pretplatu, čim prijavite boravište oni će vam svejedno poslati da
            morate platiti, onda ih nazovite i recite im da vaš/a cimer/cura/žena već plaća i oni vam neće slati račune.
            Ali im morate reći cimerov identifikacijski broj koji je on dobio od njih. Pod njih mislim na "ARD ZDF
            Deutschlandradio".
          </li>
        </ol>
        <p><strong>Bitno</strong> : pretplatu plaćate bez obzira imali TV ili ne.</p>
        <hr/>
        <p><strong>*</strong> Sve ovo radim da bih mogao pomoći ljudima tako da se ne muče previše sa papirologijom,
          ispod imate share button pa ako Vam nije problem podijelite sa drugima kojima isto treba pomoć.</p>
        <div class="sharethis-inline-share-buttons">&nbsp;</div>
        <p><strong> *</strong> Ako je bilo što nije jasno ili trebate druge informacije samo napišite u komentarima i ja
          Vam se javim u roku dan vremena.</p>
        <p><strong>*</strong> Za komentiranje prvo se logirajte sa gmailom, disqusom, facebookom ili twitterom.</p>
        <p>&nbsp;</p>


        <disqus [identifier]="'http://zivot-u-njemackoj.com/'"></disqus>

      </div>

    </div>
  </div>

</article>


<hr>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center">
          <li>
            <a
              href="mailto:&#112;&#114;&#111;&#100;&#97;&#106;a.&#109;&#101;r&#105;die&#115;&#64;&#103;mai&#108;.&#99;om">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                                </span>
            </a>

          </li>

        </ul>
        <p class="copyright text-muted">Copyright me2funky</p>
      </div>
    </div>
  </div>


</footer>

